<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.firebasedemo.stackoverflow">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity32367022"
            android:label="@string/title_activity_32367022" />
        <activity
            android:name=".Activity32319324"
            android:label="@string/title_activity_32319324" />
        <activity
            android:name=".Activity32469846"
            android:label="@string/title_activity_32469846" />
        <activity
            android:name=".Activity32699300"
            android:label="@string/title_activity_32699300" />
        <activity android:name=".Activity32700943" />
        <activity android:name=".Activity33096128" />
        <activity android:name=".Activity33260450" />
        <activity android:name=".Activity33294232" />
        <activity android:name=".Activity33955548" />
        <activity android:name=".Activity34559171" />
        <activity android:name=".Activity34634483" />
        <activity android:name=".Activity34962254" />
        <activity android:name=".Activity36235919" />
        <activity android:name=".Activity36160819" />
        <activity android:name=".Activity36299197"></activity>
    </application>

</manifest>